header{
    width: 86%;
    margin: auto;
    background: #1a224b;
    color: #fff;
    line-height: 120px;
    padding-left: 4%;
}

nav{
    background: #1a224b;
    line-height: 50px;
    height: 50px;
    position: relative;
    width: 90%;
    margin: 0px auto;
    padding: 0 auto;
}

nav ul{
    list-style: none;
}

nav ul li a{
    float: left;
    width: 60px;
    background-color: #1a224b;
    text-decoration: none;
    color: #fff;
    width: 60px;
    display: block;
    text-align: center;
}

#container {
    width: 90%;
    margin: auto;
    min-height: 100px;
    overflow: hidden;
    background: white;
    color: #333;
}

.kiri{
    width: 69%;
    float :left;
    margin: auto;
    background: #fff;
}
.content{
    border: 2px solid #1a224b;
    margin-top: 1pc;
    padding: 0pc 2pc 2pc 2pc
}
.kanan{
    width: 29%;
    float: right;
    margin: auto;
    background: #fff;
}

.kanan h4 {
    border-bottom: 2px solid #1a224b;
    padding-bottom: 15px;
}

.kanan ul {
    list-style: none;
}

.kanan ul li {
    margin-bottom: 15px;
}

.kanan ul li a {
    margin-left: -10%;
    text-decoration: none;
}

footer{
    background: #1a224b;
    color: white;
    line-height: 40px;
    height: 40px;
    position: relative;
    width: 90%;
    margin: 0px auto;
    padding: 2 auto;
    text-align: left center;
}

footer p{
    padding-left: 30px;
}